<div class="row">
 <div class="col-md-6">
 Module status:
 [#if API_ENABLE="1"#]
 <span style="color:green">ENABLED</span>
 [#else API_ENABLE#]
 <span style="color:red">DISABLED</span>
 [#endif#]
 [ <a href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a> ]

 [#if API_ENABLE="1"#]
 [ <a href="?view_mode=discover">Discover</a> ]
 [#endif#]
 [#if ERROR!=""#]<div><font color="red">[#ERROR#]</font></div>[#endif#]
  </div>
  <div class="col-md-6">
   [#module name="xray" action="service" cycle="orvibo"#]
   </div>
</div>
<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_URL#] style="color:red;font-weight:bold"[#endif#]>
 API Host (local IP address):
 (*)
 </label>
 <div class="controls"><input type="text" name="api_url" value="<#API_URL#>" class="input"></div>
</div>

<div class="form-group">
 <label class="control-label"[#if ERR_API_PORT#] style="color:red;font-weight:bold"[#endif#]>
 API Enable:
 (*)
 </label>
 <div class="controls">
 <input type="checkbox" name="api_enable" value="1"[#if API_ENABLE="1"#] checked[#endif#]>
 </div>
</div>



<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>


</div>



<!-- table orvibodevices search -->
<!-- results -->
[#if RESULT#]
&nbsp;
<!-- search results (list) -->
<form action="?" method="post" name="frmList_orvibodevices" style="padding:0px" class="form">
<table class="table table-striped">
<tbody>
[#begin RESULT#]
<tr>
 <td><b>[#TITLE#]</b></td>
 <td>[#MAC#]</td>
 <td>[#IP#]</td>
 <td>[#if IS_ONLINE="1"#]<font color="green">[#endif#][#UPDATED#]</td>
 <td style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_orvibodevices&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_orvibodevices&id=[#ID#]" onClick="return confirm('Are you sure?')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_orvibodevices">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p>
<font color="red">No records found.</font>
</p>
[#endif RESULT#]
<!-- / results -->

